[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/EASTL"]
	path = external/EASTL
	url = https://github.com/electronicarts/EASTL
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/mgpu"]
	path = external/mgpu
	url = git@github.com:fleroviux/mgpu.git
