[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator/
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang/
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
